@import "responsive";
header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  padding-left: 200px;
  width: 100vw;
  .logo {
    width: 12vw;
  }
  @include screen("phone") {
    padding: 0;
    .logo {
      margin: 0 auto;
      width: 50vw;
    }
  }
}
