<div class="container">
  <div class="header">
    <span class="title">Recent Transactions</span>
  </div>
  <div class="filter-container">
    <div class="search-box">
      <input type="text" name="search" id="searchbox" placeholder="Search by typing...">
    </div>
    <div class="sort-container">
      <span>Sort by</span>
      <div class="sort-type">DATE</div>
      <div class="sort-type">BENEFICIARY</div>
      <div class="sort-type">AMOUNT</div>
    </div>
  </div>
  <div class="transactions-container">
    <app-transaction-item></app-transaction-item>
    <app-transaction-item></app-transaction-item>
    <app-transaction-item></app-transaction-item>
  </div>
</div>
