@import "color-palette";
@import "fonts";
:host {
  margin: 5% 0 0 0;
  .container {
    background-color: white;
    .header {
      align-items: center;
      background-color: $blue-chill;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 100%;
      .title {
        color: white;
        font-family: $base-font-light;
      }
    }
    .filter-container {
      align-items: center;
      display: flex;
      height: 50px;
      padding: 0 1em;
      .search-box {
        input {
          outline: 0;
          border: none;
          border-bottom: 1px solid gray;
        }
      }
      .sort-container {
        align-items: center;
        display: flex;
        font-family: $base-font-regular;
        span {
          font-size: 12px;
          font-family: $base-font-bold;
          margin: 0 20px;
        }
        .sort-type {
          border: 1px solid $silver;
          padding: 0 20px;
        }
      }
    }
    .transactions-container {
      margin-top: 1em;
      padding-bottom: 1em;
    }
  }
}
