@import "color-palette";
@import "fonts";
@import "responsive";
:host {
  margin: 5% 0 0 0;
  .container {
    background-color: white;
    .header {
      align-items: center;
      background-color: $blue-chill;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 100%;
      .title {
        color: white;
        font-family: $base-font-light;
      }
    }
    .filter-container {
      align-items: center;
      display: flex;
      height: 50px;
      padding: 0 1em;
      .search-box {
        flex: 1 0 auto;
        input {
          outline: 0;
          border: none;
          border-bottom: 1px solid gray;
          width: 90%;
        }
        @include screen("phone") {
          flex: 1 0 auto;
          margin: 5px 0;
        }
      }
      .sort-container {
        align-items: center;
        display: flex;
        flex: 0 0 25.125em;
        font-family: $base-font-regular;
        justify-content: flex-end;
        span {
          font-size: 12px;
          font-family: $base-font-bold;
          margin-right: 20px;
          @include screen("phone") {
            margin-right: 5px;
          }
        }
        .sort-type {
          border: 1px solid $silver;
          cursor: pointer;
          padding: 0 20px;
        }
        @include screen("phone") {
          flex: 1 0 auto;
        }
      }
      @include screen("phone") {
        flex-wrap: wrap;
      }
    }
    .transactions-container {
      margin-top: 1em;
      padding-bottom: 1em;
    }
  }
  @include screen("large-screens") {
    width: 688px;
  }
  @include screen("desktop") {
    width: 100%;
  }
}
