<div class="transfer-header">
  <span class="header-title">Make a Transfer</span>
</div>
<div class="form-container">
  <form #transferForm="ngForm" (ngSubmit)="transfer(transferForm)">
    <div class="input-container">
      <label for="from">FROM ACCOUNT</label>
      <input
        id="from"
        type="text"
        placeholder="Free Checking(4692) - $5824.76"
        name="from"
        [(ngModel)]="transferModel.from"
        readonly
        #from="ngModel"
      />
    </div>
    <div class="input-container">
      <label for="to">TO ACCOUNT</label>
      <input
        id="to"
        type="text"
        placeholder="ACCOUNT TO TRANSFER"
        name="to"
        [(ngModel)]="transferModel.to"
        required
        #to="ngModel"
      />
    </div>
    <div class="input-container">
      <label for="amount">AMOUNT</label>
      <input
        id="amount"
        type="number"
        placeholder="$ 00.0"
        name="amount"
        [(ngModel)]="transferModel.amount"
        required
        #ammount="ngModel"
        
      />
    </div>
    <div class="submitbtn-container">
      <button [ngClass]="{'disabled':!transferForm.valid}" type="submit" [disabled]='!transferForm.valid' (click)="makeTransfer(transferForm)">SUBMIT</button>
    </div>
  </form>
</div>
