@import "color-palette";
:host {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  height: 400px;
  width: 300px;
  .transfer-header {
    align-items: center;
    background-color: $blue-chill;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
    .header-title {
      color: white;
    }
  }
}
