/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: url("./assets/background.jpg") no-repeat fixed center center;
  background-size: cover;
  &::-webkit-scrollbar {
    display: none;
  }
}
