@import "color-palette";
@import "fonts";
:host {
  align-items: center;
  display: flex;
  background-color: white;
  border: 1px solid $silver;
  box-sizing: border-box;
  margin: 0 auto;
  height: 50px;
  padding: 10px;
  width: 95%;
  .transaction-logo {
    flex: 0 0 5em;
    img {
      filter: grayscale(100%) saturate(50%) contrast(70%);
      width: 40%;
    }
  }
  .transaction-date {
    font-family: $base-font-light;
    flex: 0 0 8em;
  }
  .transaction-merchant {
    flex: 1 0 8em;
    .merchant-name {
      font-family: $base-font-medium;
    }
    .transaction-type {
      font-family: $base-font-light;
    }
  }
  .transaction-amount {
    font-family: $base-font-semi-bold;
    flex: 0 0 5em;
  }
}
