<div class="transaction-date">{{transactionItem.dates.valueDate | date: 'MMM dd'}}</div>
<div class="transaction-logo">
  <img src={{transactionItem.merchant.logo}} alt={{transactionItem.merchant.name}}>
</div>
<div class="transaction-merchant">
  <div class="merchant-name">{{transactionItem.merchant.name}}</div>
  <div class="transaction-type">{{transactionItem.transaction.type}}</div>
</div>
<div class="transaction-amount">
  {{transactionItem.transaction.amountCurrency.amount | currency:'USD':'symbol'}}
</div>

